body 
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px;
}
.block-menu a 
{
  display: block;
  background-color: #04c9ff;
  color: white;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
}
.inline-menu a 
{ 
  display: inline;
  background-color: rgb(200, 255, 0);
  color: white;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}
.inline-block-menu a
{ 
  display: inline-block;
  background-color: rgb(255, 217, 4);
  color: white;
  height: 50px;
  width: 100px;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
}
.float-menu
{ 
  float: left;
  background-color: rgba(231, 56, 8, 0.966);
  color: white;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
}
.clear-example {
  clear: both;
  background-color: #06ff51;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #e80e0e;
}